$lt-gray: #ddd;
$background-dark: rgb(247, 7, 67);
$background-light: rgb(248, 91, 18);
$background-pale: #D1C4E9;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}
.tumps{
width: 200px ;
}
$background-moredark: #4527A0;

.active {
    background: $background-moredark;
}
.colorheader{
    background: #4527A0
}