.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}

/*
.tumb{
    color: rgb(248, 0, 74);
}
input{
    color: rgb(248, 0, 74);

}
.formu{
    background-color: black;
}
*/